#up {
    background-image: radial-gradient(white, white, #63faed);
}

#down {
    background-color: #2c59f0;
}

#card {
    width: 150px;
}

#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
}

.courses {
    display: inline-block;
    padding: 0 25px;
    height: 100px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 0px;
}

.courses img {
    float: left;
    margin: 0 10px 0 -25px;
    border-radius: 50%;
}

#tv {
    padding: -2cm;
    position: absolute;
    width: 200px;
    height: 350px;
    margin: 20px 0;
    background: #2980b9;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
}

#icons {
    vertical-align: bottom;
}

#txt {
    color: white;
    font-style: normal;
    width: 25%;
    height: 30px;
    font-size: small;
    position: absolute;
    line-height: 10 px;
    white-space: normal;
}